
    @font-face {
    font-family: 'Courier Prime Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Courier Prime Regular'), url('font/Courier%20Prime.woff') format('woff');
    }

body{
    font-family:'Courier Prime Regular';
}

.row .col.m4:first-of-type{
    padding-right:1rem;
}
.row .col.m4:last-of-type{
    padding-right:1rem;
}

