@import'./import/mixin.scss';
@import'./import/variables.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: $backColor;
    color: $textColor;
    max-width: 1280px;
    @include flexOrient(column);
}

nav {
    background-color: inherit;

    a {
        @include flexOrient(row);

        a:hover {
            background-color: rgb(215, 77, 97, 0.6);
        }
        
    }
    a span {
        display: none;
        }
        a:hover span {
        display: inline;
        position: absolute;
        margin-top: 5%;
        padding:2%;
        left: 20%;
        width: auto;
        border:2px dotted $backColorbge;
        border-top-left-radius: 20%;
        background:$backColor;
        text-align: center;
        color: $backColorbge;
        font-size:1vw;
        @include media-max(375px){font-size:1.5vw; margin:0;padding:3%;};
        }
}

.wrappertop {
    width: $width;
    @include flexOrient(row);
    @include bordureWrapper(rgb(238, 240, 241));

    .wrappertopleft {
        width: $widthbis;
        @include flexOrient(column);
        @include flexCenter();
    }

    .wrappertopright {
        width: $widthbis;
        @include flexOrient(column);
        @include flexRight();

        #van {
            border-color: $backColorbge;
            border-style: dotted;
            border-width: 1%;
        }
    }

    .introtext {
        width: $width;

        h1 {
            font-size: $polSize;
        }

        h2 {
            font-size: $poliSize;
        }
    }

    .menuintro {
        width: $width;
        @include flexOrient(row);

        i {
            color: $textColor;
            font-size: $poliSize;
        }

        ;
    }
}

.wrappermiddle {
    width: $width;
    @include flexOrient(row);
    @include bordureWrapper($backColorbge);
    padding: 2%;
    background-color: $backColorblue;

    .midleft {
        @include flexOrient(column);
        width: $widthbis;
        background-color: $backColorblue;

        .wrappermiddleleft {
            width: $width;
            @include flexOrient(row);

            #astronaut {
                width: 90%;
            }

            .realisation {
                width: auto;
                @include flexCenter();
                margin: 2%;
                border-color: $backColorbge;
                border-radius: 2%;
                border-style: dotted;

                p {
                    color: $textColor;
                    font-size: $poliMini;
                }

                ;

                .lien p:hover {
                    color: $backColor;
                }
            }
        }

        .wrappermiddleright {
            width: $width;
            @include flexOrient(row);

            .realisation {
                width: auto;
                margin: 2%;
                border-color: $backColorbge;
                border-radius: 2%;
                border-style: dotted;
                @include flexCenter();

                p {
                    color: $textColor;
                    font-size: $poliMini;
                }

                ;

                .lien p:hover {
                    color: $backColor;
                }
            }
        }

        #batman {
            width: 100%;
        }

        .brand-logo {
            width: $widthfi;
        }
    }

    .midright {
        background-color: $backColorblue;
        width: $widthbis;
        @include flexOrient(column);
        padding: 3%;
        @include flexCenter();

        i {
            font-size: $isize;
            padding: 2%;
        }

        .webdesign {
            width: $width;
            @include flexOrient(row);
            @include flexCenter();
        }

        .programmation {
            width: $width;
            @include flexOrient(row);
            @include flexCenter();
        }
        .autres { width:$widthfi;  @include flexOrient(row);
            @include flexCenter();#mat{width:$width; padding-left:20%;};#gsap{width:81%; padding:5%;};#opquast{width:100%; padding-left:23%;}}
    }
}

.wrapperdown {
    width: $width;
    @include flexOrient(row);
    background-color: $backColorgreen;
    @include bordureWrapper($backColorbge);
    @include media-max(375px){@include flexOrient(column);@include flexCenter()};

    .midleft {
        width: $widthbis;
        @include flexOrient(row);
        @include flexCenter();
        @include media-max(375px){width:$widthhigh;margin-top:4%;};

        .lesengrenages {
            width: auto;
            justify-items: center;
            top: 25%;
            @include flexOrient(row);

            .skills {
                @include flexOrient(column);
                text-align: center;
            }
            ;

            .engrenage {
                width: $width;
                
            }

            .textskill {
                font-size: 1.6vw;
                text-align: center;
                @include media-max(375px){font-size:2.5vw;};
            }

            ;
        }
    }

    .midright {
        width: $widthbis;
        @include flexOrient(column);
        @include flexCenter();

        .textskill {
            width: $width;
            font-size: 2.2vw;
            text-align: center;
            margin-left: 7%;
            @include media-max(375px){font-size:3vw;}
        }

        ;

        .mosaique {
            width: $width;
            @include flexOrient(row);
            @include media-max(375px){font-size: 8 vw;};
            
            .p {
                font-size: $polSize;
                
            }

            ;

            .team {
                width: $widthhigh;
                @include flexOrient(row);
                @include flexCenter();
                @include media-max(375px){width:auto;margin-right:5%;};

                #groupe {
                    border-style: dotted;
                    border-width: 1%;
                    border-color: $backColorbge;
                    margin-left: 25%;
                }

                ;

                #perruque {
                    width: 43%;
                    margin-left: 3%;
                    border-style: dotted;
                    border-width: 1%;
                    border-color: $backColorbge;
                }
            }
        }
    }
}

;

.wrapperme {
    width: $width;
    @include flexOrient(row);
    @include flexCenter();
    @include bordureWrapper($backColorbge);
    @include media-max(375px){@include flexOrient(column);}

    .midleft {
        width: $widthbis;
        @include flexOrient(row);
        @include flexCenter();
        padding: 1%;
        @include media-max(375px){width:$width;}
        

        .formulaire {
            width: $widthhigh;
            @include flexOrient(column)
        }

        ;

        .titreform {
            width: $width;
            @include media-max(375px){h3{font-size:6vw;}}
        }

        ;

        form {
            background-color: $backColorbge;
            border-radius: 5vw;
            color: $backColor;
            @include flexCenter();
            border-style: dotted;
            ::-webkit-input-placeholder {
                color: $backColor;
                font-size: 1vw;
                padding-left:3%;
              }
              ::-moz-placeholder {
                color:$backColor;
                font-size: 1vw;
              }
              :-ms-input-placeholder {
                color: $backColor;
                font-size: 1vw;
              }
              ::placeholder {
                color: $backColor;
                font-size: 1vw;
              }
            @include media-max(375px){width:auto;font-size:1vw;button{width:50%;font-size:1.8vw;margin-right:25%;}}
        }

        ;
    }

    .midright {
        width: $widthbis;
        @include flexCenter();
        @include flexOrient(column);
        @include media-max(375px){width:$widthhigh};

        .contact {
            width: $width;
            @include flexOrient(column);
            
        }

        ;

        .frimousse {
            width: $width;
            padding-top: 15%;
            padding-left: 20%;
        }

        ;

        #face {
            width: 25%;
            border-style: dotted;
            border-width: 1%;
            border-color: $backColorbge;
            @include media-max(375px){width:40%;margin-left:10%;}
        }

        ;
    }
}

.textskill {
    font-size: 2.6 vw;
}

;

.bouton {
    display: flex;
    flex-direction: center;
    padding-left: 30%;

    .btn {
        background-color: $backColorgreen !important;
        margin: 2%;
        width: $widthbis;
        border-radius: 2vw;
        height: 8%;
    }

    ;
}

;

.contact {
    font-size: 1.5vw;
    @include media-max(375px){font-size: 3.3vw;}

    i {
        font-size: 2vw;
        margin: 2%;
        @include media-max(375px){font-size:4vw;}
    }

    ;
    @include flexOrient(column);

    .iconedown {
        width: $width;
        @include flexOrient(row);
    }

    ;

}