body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #d74d61;
  color: #eef0f1;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: inherit;
}
nav a {
  display: flex;
  flex-direction: row;
}
nav a a:hover {
  background-color: rgba(215, 77, 97, 0.6);
}
nav a span {
  display: none;
}
nav a:hover span {
  display: inline;
  position: absolute;
  margin-top: 5%;
  padding: 2%;
  left: 20%;
  width: auto;
  border: 2px dotted #eef0f1;
  border-top-left-radius: 20%;
  background: #d74d61;
  text-align: center;
  color: #eef0f1;
  font-size: 1vw;
}
@media screen and (max-width: 375px) {
  nav a:hover span {
    font-size: 1.5vw;
    margin: 0;
    padding: 3%;
  }
}

.wrappertop {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
.wrappertop .wrappertopleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappertop .wrappertopright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 2%;
}
.wrappertop .wrappertopright #van {
  border-color: #eef0f1;
  border-style: dotted;
  border-width: 1%;
}
.wrappertop .introtext {
  width: 100%;
}
.wrappertop .introtext h1 {
  font-size: 5vw;
}
.wrappertop .introtext h2 {
  font-size: 3vw;
}
.wrappertop .menuintro {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappertop .menuintro i {
  color: #eef0f1;
  font-size: 3vw;
}

.wrappermiddle {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
  padding: 2%;
  background-color: #00a8e2;
}
.wrappermiddle .midleft {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #00a8e2;
}
.wrappermiddle .midleft .wrappermiddleleft {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappermiddle .midleft .wrappermiddleleft #astronaut {
  width: 90%;
}
.wrappermiddle .midleft .wrappermiddleleft .realisation {
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 2%;
  border-color: #eef0f1;
  border-radius: 2%;
  border-style: dotted;
}
.wrappermiddle .midleft .wrappermiddleleft .realisation p {
  color: #eef0f1;
  font-size: 1.8vw;
}
.wrappermiddle .midleft .wrappermiddleleft .realisation .lien p:hover {
  color: #d74d61;
}
.wrappermiddle .midleft .wrappermiddleright {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappermiddle .midleft .wrappermiddleright .realisation {
  width: auto;
  margin: 2%;
  border-color: #eef0f1;
  border-radius: 2%;
  border-style: dotted;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappermiddle .midleft .wrappermiddleright .realisation p {
  color: #eef0f1;
  font-size: 1.8vw;
}
.wrappermiddle .midleft .wrappermiddleright .realisation .lien p:hover {
  color: #d74d61;
}
.wrappermiddle .midleft #batman {
  width: 100%;
}
.wrappermiddle .midleft .brand-logo {
  width: 15%;
}
.wrappermiddle .midright {
  background-color: #00a8e2;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappermiddle .midright i {
  font-size: 6vw;
  padding: 2%;
}
.wrappermiddle .midright .webdesign {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappermiddle .midright .programmation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappermiddle .midright .autres {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrappermiddle .midright .autres #mat {
  width: 100%;
  padding-left: 20%;
}
.wrappermiddle .midright .autres #gsap {
  width: 81%;
  padding: 5%;
}
.wrappermiddle .midright .autres #opquast {
  width: 100%;
  padding-left: 23%;
}

.wrapperdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #6dba49;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
@media screen and (max-width: 375px) {
  .wrapperdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
}
.wrapperdown .midleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media screen and (max-width: 375px) {
  .wrapperdown .midleft {
    width: 75%;
    margin-top: 4%;
  }
}
.wrapperdown .midleft .lesengrenages {
  width: auto;
  justify-items: center;
  top: 25%;
  display: flex;
  flex-direction: row;
}
.wrapperdown .midleft .lesengrenages .skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapperdown .midleft .lesengrenages .engrenage {
  width: 100%;
}
.wrapperdown .midleft .lesengrenages .textskill {
  font-size: 1.6vw;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .wrapperdown .midleft .lesengrenages .textskill {
    font-size: 2.5vw;
  }
}
.wrapperdown .midright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.wrapperdown .midright .textskill {
  width: 100%;
  font-size: 2.2vw;
  text-align: center;
  margin-left: 7%;
}
@media screen and (max-width: 375px) {
  .wrapperdown .midright .textskill {
    font-size: 3vw;
  }
}
.wrapperdown .midright .mosaique {
  width: 100%;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 375px) {
  .wrapperdown .midright .mosaique {
    font-size: 8 vw;
  }
}
.wrapperdown .midright .mosaique .p {
  font-size: 5vw;
}
.wrapperdown .midright .mosaique .team {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media screen and (max-width: 375px) {
  .wrapperdown .midright .mosaique .team {
    width: auto;
    margin-right: 5%;
  }
}
.wrapperdown .midright .mosaique .team #groupe {
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
  margin-left: 25%;
}
.wrapperdown .midright .mosaique .team #perruque {
  width: 43%;
  margin-left: 3%;
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
}

.wrapperme {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
@media screen and (max-width: 375px) {
  .wrapperme {
    display: flex;
    flex-direction: column;
  }
}
.wrapperme .midleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2%;
  padding: 1%;
}
@media screen and (max-width: 375px) {
  .wrapperme .midleft {
    width: 100%;
  }
}
.wrapperme .midleft .formulaire {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.wrapperme .midleft .titreform {
  width: 100%;
}
@media screen and (max-width: 375px) {
  .wrapperme .midleft .titreform h3 {
    font-size: 6vw;
  }
}
.wrapperme .midleft form {
  background-color: #eef0f1;
  border-radius: 5vw;
  color: #d74d61;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-style: dotted;
}
.wrapperme .midleft form ::-webkit-input-placeholder {
  color: #d74d61;
  font-size: 1vw;
  padding-left: 3%;
}
.wrapperme .midleft form ::-moz-placeholder {
  color: #d74d61;
  font-size: 1vw;
}
.wrapperme .midleft form :-ms-input-placeholder {
  color: #d74d61;
  font-size: 1vw;
}
.wrapperme .midleft form ::placeholder {
  color: #d74d61;
  font-size: 1vw;
}
@media screen and (max-width: 375px) {
  .wrapperme .midleft form {
    width: auto;
    font-size: 1vw;
  }
  .wrapperme .midleft form button {
    width: 50%;
    font-size: 1.8vw;
    margin-right: 25%;
  }
}
.wrapperme .midright {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .wrapperme .midright {
    width: 75%;
  }
}
.wrapperme .midright .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapperme .midright .frimousse {
  width: 100%;
  padding-top: 15%;
  padding-left: 20%;
}
.wrapperme .midright #face {
  width: 25%;
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
}
@media screen and (max-width: 375px) {
  .wrapperme .midright #face {
    width: 40%;
    margin-left: 10%;
  }
}

.textskill {
  font-size: 2.6 vw;
}

.bouton {
  display: flex;
  flex-direction: center;
  padding-left: 30%;
}
.bouton .btn {
  background-color: #6dba49 !important;
  margin: 2%;
  width: 50%;
  border-radius: 2vw;
  height: 8%;
}

.contact {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 375px) {
  .contact {
    font-size: 3.3vw;
  }
}
.contact i {
  font-size: 2vw;
  margin: 2%;
}
@media screen and (max-width: 375px) {
  .contact i {
    font-size: 4vw;
  }
}
.contact .iconedown {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
