body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  background-color: #d74d61;
  color: #eef0f1;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: inherit;
}
nav a {
  display: flex;
  flex-direction: row;
}
nav a a:hover {
  background-color: rgba(215, 77, 97, 0.6);
}

.wrappertop {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
.wrappertop .wrappertopleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrappertop .wrappertopright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 3%;
}
.wrappertop .wrappertopright #van {
  border-color: #eef0f1;
  border-style: dotted;
  border-width: 1%;
}
.wrappertop .introtext {
  width: 100%;
}
.wrappertop .introtext h1 {
  font-size: 5vw;
}
.wrappertop .introtext h2 {
  font-size: 3vw;
}
.wrappertop .menuintro {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappertop .menuintro i {
  color: #eef0f1;
  font-size: 3vw;
}

.wrappermiddle {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
  padding: 3%;
  background-color: #00a8e2;
}
.wrappermiddle .midleft {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #00a8e2;
}
.wrappermiddle .midleft .wrappermiddleleft {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappermiddle .midleft .wrappermiddleleft #astronaut {
  width: 90%;
}
.wrappermiddle .midleft .wrappermiddleleft .realisation {
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 3%;
  margin: 2%;
  border-color: #eef0f1;
  border-radius: 2%;
  border-style: dotted;
}
.wrappermiddle .midleft .wrappermiddleleft .realisation a {
  color: #eef0f1;
  font-size: 1.8vw;
}
.wrappermiddle .midleft .wrappermiddleright {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrappermiddle .midleft .wrappermiddleright .realisation {
  width: auto;
  margin: 2%;
  border-color: #eef0f1;
  border-radius: 2%;
  border-style: dotted;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrappermiddle .midleft .wrappermiddleright .realisation a {
  color: #eef0f1;
  font-size: 1.8vw;
}
.wrappermiddle .midleft #batman {
  width: auto;
}
.wrappermiddle .midleft .brand-logo {
  width: 15%;
}
.wrappermiddle .midright {
  background-color: #00a8e2;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3%;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrappermiddle .midright i {
  font-size: 10vw;
  padding: 2%;
}
.wrappermiddle .midright .webdesign {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrappermiddle .midright .programmation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.wrapperdown {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #6dba49;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
.wrapperdown .midleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrapperdown .midleft .lesengrenages {
  width: auto;
  justify-items: center;
  top: 25%;
  display: flex;
  flex-direction: row;
}
.wrapperdown .midleft .lesengrenages .skills {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.wrapperdown .midleft .lesengrenages .engrenage {
  width: 100%;
}
.wrapperdown .midleft .lesengrenages .textskill {
  font-size: 1.6vw;
  text-align: center;
}
.wrapperdown .midright {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrapperdown .midright .textskill {
  width: 100%;
  font-size: 2vw;
  text-align: center;
  margin-left: 7%;
}
.wrapperdown .midright .mosaique {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrapperdown .midright .mosaique .p {
  font-size: 5vw;
}
.wrapperdown .midright .mosaique .team {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
}
.wrapperdown .midright .mosaique .team #groupe {
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
  margin-left: 32%;
}
.wrapperdown .midright .mosaique .team #perruque {
  width: 42%;
  margin-left: 3%;
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
}

.wrapperme {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-width: 10%;
  border-color: #eef0f1;
  border-style: dotted;
}
.wrapperme .midleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3%;
  padding: 1%;
}
.wrapperme .midleft .formulaire {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.wrapperme .midleft .titreform {
  width: 100%;
}
.wrapperme .midleft form {
  background-color: #eef0f1;
  border-radius: 15%;
  color: #d74d61;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-style: dotted;
}
.wrapperme .midright {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 3%;
  display: flex;
  flex-direction: column;
}
.wrapperme .midright .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapperme .midright .frimousse {
  width: 100%;
  padding-top: 15%;
  padding-left: 20%;
}
.wrapperme .midright #face {
  width: 25%;
  border-style: dotted;
  border-width: 1%;
  border-color: #eef0f1;
}

.textskill {
  font-size: 2.6 vw;
}

.bouton {
  display: flex;
  flex-direction: center;
  padding-left: 30%;
}
.bouton .btn {
  background-color: #6dba49 !important;
  margin: 2%;
  width: 50%;
  border-radius: 40%;
  height: 8%;
}

.contact {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
}
.contact i {
  font-size: 2vw;
  margin: 2%;
}
.contact .iconedown {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/*# sourceMappingURL=style.css.map */
