//variables
$bckgrd-gris: #EDE9ED;
$texte-paragraphe: black;
$width:100%;
$sizeimage:25%;
$pdg-right:2%;
$pdg-left:2%;
$pdg-top:2%;
$textecont1:14px;
$titrecont1:18px;
$titrecont2:24px;
$margin:2%;
$hone:24px;

$largeurbouton:10px;
$hauteurbouton:5px;
$colobouton:rgb(166,189,237);
$margebouton:12%;