body {
    font-family: 'Oswald';
    background-image: url(/Users/douce/Coding_Academy/HTML_CSS_Animation/images/background_green.png);
    color: white;
}

#carrousel {
    position: relative;
    height: 540px;
    width: 860px;
    margin: auto;
    background-color: white;
    color: green;
    font-size: 25px;
    overflow: hidden;
    border: 3px solid #f2f2f2;
}
#carrousel img{width:860px; height:540px;}
#carrousel ul li {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
}

/*#carrousel li {
    width: 100%;
    height: 100%
}*/

#carrousel ul {
    overflow: hidden;
    list-style: none;
}
.prev {
    position: absolute;
    top: 50%;
    left: 1%;
    color:white;
    font-size: 15px;
}

.next {position: absolute;
    top: 50%;
    right: 1%;
    color:white;
    font-size: 15px;}

.texte {
    position: absolute;
    top: 10%;
    left: 40%;
    color:orangered;
    transform: translate(-15%, -15%);
    font-size:30px;
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 45px;
    width: 90%;
    text-align: center;
}