// les mixins
@mixin flexOrient($direction){
    display:flex;
    flex-direction:$direction;
}
@mixin flexCenter(){
    justify-content: center;
    align-items:center;
    padding:2%;
}

@mixin flexRight(){
    justify-content: right;
    align-items:right;
    padding:2%;
}

@mixin flexLeft(){
    justify-content: left;
    align-items:left;
    padding:2%;
}

@mixin bordureWrapper($couleur){
    border-width: 10%;
    border-color:$couleur;
    border-style:dotted;
}
@mixin bordureWrapperSide($couleur){
    border-width: 10%;
    border-color:$couleur;
    border-style:dotted;
    border-bottom: none;
    border-top:none;
}

@mixin media-max($_max-width){
     @media screen and (max-width:$_max-width){
        &{ @content;}
    }
}
