// les variables
$direction:flex-direction;
$width:100%;
$widthbis:50%;
$widthter:10%;
$widthf:25%;
$widthfi:15%;
$widthhigh:75%;
$widthpos:150%;
$textColor:rgb(238, 240, 241);
$textColorb:rgb(215, 77, 97);
$backColor:rgb(215, 77, 97);
$backColorblue:rgb(0, 168, 226);
$backColorbge:rgb(238, 240, 241);
$polSize:5vw;
$poliSize:3vw;
$poliMini:1.8vw;
$isize:10vw;