//variables
$direction:flex-direction;
$width:100%;
$textColor:white;
$minipara:1.5em;
$grdpara:1.7em;
$blueLight:rgb(200,224,241);
$colorLove:rgb(118,184,221);
$colorNletter:rgb(166,211,236);
$colorbouton:rgb(94,142,172);
